.feed-container {
  width: 100%;
  max-width: 800px;
  margin-top: 2.5vmin;
  height: 93vh;
  padding: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  padding: 10px 20px;
}
