.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.home-card {
  width: 450px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-card h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.home-card a {
  margin: 0 10px;
  color: #1890ff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.home-card a:hover {
  color: #40a9ff;
}
