/* Login Page styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #2c2c2c;
}

.login-card {
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
}

.login-form-button {
  width: 100%;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.login-card,
.signup-card {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: center;
}

.signup-link {
  margin-top: 1rem;
  text-align: center;
}
