.navbar {
  background: linear-gradient(to right, #f8f8f8, #e0e0e0);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between the icon and text */
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-right > * {
  margin-left: 1rem;
}

.navbar-right a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar-right a:hover {
  background-color: #d9d9d9;
}

.navbar-right .ant-avatar {
  margin-right: 0.5rem;
  width: 40px;
  height: 40px;
}

.navbar-right .ant-btn-link {
  color: black;
  border: 1px solid #d9d9d9;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.navbar-right .ant-btn-link:hover {
  background-color: #d9d9d9;
}
