/* Universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #2c2c2c;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
}

a {
  color: #00bfff;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #0087c1;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  line-height: 1.4;
  color: #f5f5f5; /* Slightly off-white for headers */
}
